Repository 467-2b/quotes, pull requests merged in 2021-04, with the labels that each got.

#4 Create SQL schema (in progress)
  README.md
  sql/README.md
  sql/erd.png
  sql/tables.sql
Labels: documentation, enhancement, sql

#20 Add nav bar
  laravel/app/views/includes/header.blade.php
Labels: html, view

#21 Add setup instructions to README.md
  README.md
Labels: documentation

#22 Add authentication
  README.md
  install.sh
  laravel/.gitignore
  laravel/app/Http/Controllers/Auth/ConfirmPasswordController.php
  laravel/app/Http/Controllers/Auth/ForgotPasswordController.php
  laravel/app/Http/Controllers/Auth/LoginController.php
  laravel/app/Http/Controllers/Auth/RegisterController.php
  laravel/app/Http/Controllers/Auth/ResetPasswordController.php
  laravel/app/Http/Controllers/Auth/VerificationController.php
  laravel/app/Http/Controllers/HomeController.php
  laravel/app/models/User.php
  laravel/composer.json
  laravel/composer.lock
  laravel/database/migrations/2014_10_12_000000_create_users_table.php
  laravel/database/seeders/DatabaseSeeder.php
  laravel/database/seeders/UserSeeder.php
  laravel/package-lock.json
  laravel/package.json
  laravel/public/mix-manifest.json
  laravel/resources/js/app.js
  laravel/resources/js/bootstrap.js
  laravel/resources/js/components/ExampleComponent.vue
  laravel/resources/sass/_variables.scss
  laravel/resources/sass/app.scss
  laravel/resources/views/auth/login.blade.php
  laravel/resources/views/auth/passwords/confirm.blade.php
  laravel/resources/views/auth/passwords/email.blade.php
  laravel/resources/views/auth/passwords/reset.blade.php
  laravel/resources/views/auth/register.blade.php
  laravel/resources/views/auth/verify.blade.php
  laravel/resources/views/home.blade.php
  laravel/resources/views/layouts/app.blade.php
  laravel/resources/views/welcome.blade.php
  laravel/routes/web.php
  laravel/webpack.mix.js
Labels: enhancement, php

#24 Welcome page edits
  laravel/public/css/carousel.css
  laravel/public/js/jquery-3.5.1.slim.min.js
  laravel/resources/views/welcome.blade.php
Labels: html

#23 Welcome page
  laravel/app/views/includes/header.blade.php
  laravel/package-lock.json
  laravel/package.json
  laravel/public/css/carousel.css
  laravel/public/img/cash-register.jpg
  laravel/public/img/cover-dark.jpg
  laravel/public/img/cover-light.jpg
  laravel/public/img/welding.jpg
  laravel/public/img/writing.jpg
  laravel/public/js/jquery-3.5.1.slim.min.js
  laravel/resources/sass/_variables.scss
  laravel/resources/sass/app.scss
  laravel/resources/views/includes/header.blade.php
  laravel/resources/views/welcome.blade.php
Labels: enhancement, html, js, view

#28 Home Page (signed in)
  laravel/app/Http/Controllers/HomeController.php
  laravel/public/img/add.png
  laravel/public/img/box.png
  laravel/public/img/chat.png
  laravel/public/img/coins.png
  laravel/public/img/folder.png
  laravel/public/img/monitor.png
  laravel/public/img/notepad.png
  laravel/public/img/team.png
  laravel/public/img/trolley.png
  laravel/resources/views/customers.blade.php
  laravel/resources/views/home.blade.php
  laravel/resources/views/includes/header.blade.php
  laravel/resources/views/newquote.blade.php
  laravel/resources/views/orders.blade.php
  laravel/resources/views/quotes.blade.php
  laravel/routes/web.php
Labels: controller, enhancement, html, sql, view

#30 Customer Page
  laravel/.env.example
  laravel/app/Http/Controllers/HomeController.php
  laravel/app/Models/Customer.php
  laravel/app/Models/User.php
  laravel/config/database.php
  laravel/resources/views/customers.blade.php
Labels: enhancement, html, model, php, view

#32 Quotes page
  laravel/app/Http/Controllers/QuoteController.php
  laravel/app/Models/Quote.php
  laravel/database/factories/QuoteFactory.php
  laravel/database/migrations/2021_04_17_210238_create_quotes_table.php
  laravel/database/seeders/DatabaseSeeder.php
  laravel/database/seeders/QuoteSeeder.php
  laravel/resources/views/quotes.blade.php
  laravel/routes/web.php
  sql/README.md
  sql/erd.png
Labels: controller, model, view

#33 Implement roles and permissions using spatie/laravel-permission
  laravel/app/Http/Controllers/Auth/RegisterController.php
  laravel/app/Http/Controllers/HomeController.php
  laravel/app/Http/Kernel.php
  laravel/app/Models/User.php
  laravel/composer.json
  laravel/composer.lock
  laravel/config/app.php
  laravel/config/permission.php
  laravel/database/migrations/2021_04_18_030653_create_permission_tables.php
  laravel/database/seeders/DatabaseSeeder.php
  laravel/database/seeders/RoleAndPermissionSeeder.php
  laravel/public/img/add-user.png
  laravel/public/img/approved.png
  laravel/public/img/documents.png
  laravel/public/img/locked.png
  laravel/public/img/pencil-document.png
  laravel/resources/views/auth/register.blade.php
  laravel/resources/views/home.blade.php
  laravel/resources/views/includes/header.blade.php
  laravel/resources/views/layouts/app.blade.php
  laravel/resources/views/users.blade.php
  laravel/resources/views/welcome.blade.php
  laravel/routes/web.php
Labels: model

#36 Line items and notes models
  laravel/app/Http/Controllers/LineItemController.php
  laravel/app/Http/Controllers/NoteController.php
  laravel/app/Models/LineItem.php
  laravel/app/Models/Note.php
  laravel/app/Models/Quote.php
  laravel/database/factories/LineItemFactory.php
  laravel/database/factories/NoteFactory.php
  laravel/database/migrations/2021_04_19_003108_create_line_items_table.php
  laravel/database/migrations/2021_04_19_003251_create_notes_table.php
  laravel/database/seeders/DatabaseSeeder.php
  laravel/database/seeders/LineItemSeeder.php
  laravel/database/seeders/NoteSeeder.php
  sql/README.md
  sql/erd.png
Labels: model

#37 Show items and notes count on quotes page
  laravel/resources/views/quotes.blade.php
Labels: view

#38 Feature: create/view quotes
  laravel/app/Http/Controllers/QuoteController.php
  laravel/app/Models/Quote.php
  laravel/database/seeders/LineItemSeeder.php
  laravel/database/seeders/NoteSeeder.php
  laravel/database/seeders/QuoteSeeder.php
  laravel/database/seeders/UserSeeder.php
  laravel/resources/views/newquote.blade.php
  laravel/resources/views/quote.blade.php
  laravel/routes/web.php
Labels: controller, view

#40 Edit users
  laravel/app/Http/Controllers/Auth/RegisterController.php
  laravel/app/Models/User.php
  laravel/resources/views/user.blade.php
  laravel/resources/views/users.blade.php
  laravel/routes/web.php
Labels: controller, enhancement, html

#41 Quote views/routes changes
  laravel/app/Http/Controllers/QuoteController.php
  laravel/app/Models/Customer.php
  laravel/app/Models/LineItem.php
  laravel/app/Models/Quote.php
  laravel/database/migrations/2021_04_17_210238_create_quotes_table.php
  laravel/database/seeders/QuoteSeeder.php
  laravel/resources/views/home.blade.php
  laravel/resources/views/includes/header.blade.php
  laravel/resources/views/layouts/app.blade.php
  laravel/resources/views/quotes/create.blade.php
  laravel/resources/views/quotes/edit.blade.php
  laravel/resources/views/quotes/index.blade.php
  laravel/resources/views/quotes/show.blade.php
  laravel/routes/web.php
Labels: controller, model, view

#43 Fix duplicate declaration of Quote::customer
  laravel/app/Models/Quote.php
Labels: bug

#45 Quote editing functionality
  laravel/app/Http/Controllers/OrderController.php
  laravel/app/Http/Controllers/QuoteController.php
  laravel/app/Models/LineItem.php
  laravel/app/Models/Note.php
  laravel/app/Models/Order.php
  laravel/app/Models/Quote.php
  laravel/database/migrations/2021_04_21_060627_create_orders_table.php
  laravel/database/seeders/QuoteSeeder.php
  laravel/resources/views/home.blade.php
  laravel/resources/views/includes/header.blade.php
  laravel/resources/views/layouts/app.blade.php
  laravel/resources/views/orders/index.blade.php
  laravel/resources/views/orders/show.blade.php
  laravel/resources/views/quotes/convert-preview.blade.php
  laravel/resources/views/quotes/create.blade.php
  laravel/resources/views/quotes/edit.blade.php
  laravel/resources/views/quotes/index.blade.php
  laravel/resources/views/quotes/show.blade.php
  laravel/routes/web.php
Labels: controller, view

#51 Add email step to quote sanction workflow
  laravel/app/Http/Controllers/QuoteController.php
  laravel/app/Mail/QuoteMessage.php
  laravel/resources/emails/quotes/message.md
  laravel/resources/views/emails/quotes/message.blade.php
  laravel/resources/views/quotes/edit.blade.php
  laravel/resources/views/quotes/email-preview.blade.php
  laravel/routes/web.php
Labels: enhancement

#53 Add Docker support
  Dockerfile
  README.md
  entrypoint.sh
Labels: enhancement

#54 Release 1.0.1
  Dockerfile
  README.md
  entrypoint.sh
  laravel/app/Http/Controllers/QuoteController.php
  laravel/app/Mail/QuoteMessage.php
  laravel/resources/emails/quotes/message.md
  laravel/resources/views/emails/quotes/message.blade.php
  laravel/resources/views/layouts/app.blade.php
  laravel/resources/views/quotes/edit.blade.php
  laravel/resources/views/quotes/email-preview.blade.php
  laravel/resources/views/quotes/index.blade.php
  laravel/routes/web.php
Labels: enhancement
